
          <div class="myprojects">
            <h2>Projects</h2>

            <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>

              <!-- <br> -->

              <tr>
                <td width="40%" valign="top" align="center">
                <img src="assets/img/plr.gif" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
                </td>

                <td width="60%" valign="top">
                  <p><a href="plr.html" id="plr">
                  <papertitle><b>Monocular Markerless 6D Pose Estimation of ANYmal</b></papertitle></a><br>
                    Team members:
                    <b>Ivan Alberico</b>,
                    <a href="https://tenhearts.github.io/">Kexin Shi</a>
                    <br>
                    Supervised by <a href="https://mavt.ethz.ch/people/person-detail.MjY0MDU2.TGlzdC81NTksLTE3MDY5NzgwMTc=.html">Jonas Frey</a>,
                     <a href="https://mavt.ethz.ch/people/person-detail.MjE4MDk1.TGlzdC81NTksLTE3MDY5NzgwMTc=.html">Victor Klemm</a>
                     and <a href="https://ethz.ch/en/the-eth-zurich/organisation/who-is-who/mavt/details.MTIxOTEx.TGlzdC8xOTEyLDEwNjE0ODE1NjU=.html">Marco Hutter</a>
                  </p>

                  <p>              
                  <div class="project" id="plr">
                    <a href="plr.html">Webpage</a> |
                    <a href="assets/pdf/plr_poster.pdf">Poster</a> |
                    <a href="https://www.youtube.com/watch?v=4saCcrD37qA">Video</a> |
                    <a href="assets/pdf/plr_report.pdf">Report</a> 
                    <!-- <a href="https://github.com/leggedrobotics/anymal_ar">Code (Open Soon)</a> -->
                  </div>
                  </p>

                  <p>
                    <div>
                      An accurate toolbox for localization and pose estimation of <a href="https://www.anybotics.com/anymal-autonomous-legged-robot/">ANYmal</a> without 
                      external sources like depth cameras or QR codes.
                    </div>
                  </p>
                            
              </td>
              </tr>

              <!-- <br> -->

              
            </tbody></table>

          </div>
