
          <div class="myprojects">
            <h2>Projects</h2>

            <table style="width:100%;border:0px;border-spacing:25px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>

              <!-- VISION BASED NAVIGATION FOR MID-AIR HELICOPTER DELIVERY -->
              <tr>
                <td width="40%" valign="top" align="center">
                <img src="assets/img/nasajpl_xVIOtracking.gif" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
                </td>

                <td width="60%" valign="top">
                  <p><a href="nasajpl.html" id="plr">
                  <papertitle><b>Vision-Based Navigation for Mid-Air Helicopter Delivery on Mars</b></papertitle></a><br>
                    Supervised by <a href="https://www-robotics.jpl.nasa.gov/who-we-are/people/jeff_delaune/">Jeff Delaune</a>,
                    <a href="https://giovanni-cioffi.netlify.app/">Giovanni Cioffi</a>
                     and <a href="https://rpg.ifi.uzh.ch/people_scaramuzza.html">Davide Scaramuzza</a>
                  </p>

                  <p>              
                  <div class="project" id="plr">
                    <a href="nasajpl.html">Webpage</a> |
                    <a href="assets/pdf/nasajpl_report.pdf">Thesis</a> 
                    <!-- <a href="https://github.com/leggedrobotics/anymal_ar">Code (Open Soon)</a> -->
                  </div>
                  </p>

                  <p>
                    <div>
                      A novel range-VIO method that fuses altimeter measurements with a visual-odometry framework, and eliminates 
                      the need for any type of ground planarity assumption.
                    </div>
                  </p>
                            
              </td>
              </tr>

              <!-- INSTINCTIVE ROBOT CONTROL VIA HOLOLENS 2 -->
              <tr>
                <td width="40%" valign="top" align="center">
                <img src="assets/img/mixedreality_wrapup.gif" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
                </td>

                <td width="60%" valign="top">
                  <p><a href="mixedreality.html" id="plr">
                  <papertitle><b>Instinctive Robot Control via Hololens2</b></papertitle></a><br>
                  Team members:
                  <b>Ivan Alberico</b>,
                  <a href="https://www.linkedin.com/in/michael--baumgartner/?originalSubdomain=ch">Michael Baumgartner</a>,
                  <a href="https://www.linkedin.com/in/jonathan-becker-tech/">Jonathan Becker</a>,
                  <a href="https://www.linkedin.com/in/seif-ismail-143b53247/">Seif Ismail</a>
                  <br>
                  </p>

                  <p>              
                  <div class="project" id="plr">
                    <a href="mixedreality.html">Webpage</a> |
                    <a href="https://www.youtube.com/watch?v=YiZyG_5g66w">Video</a> |
                    <a href="assets/pdf/mixedreality_report.pdf">Report</a> |
                    <a href="https://github.com/MR-Instinctive-Robot-Control/Hand-Robot-Controller">Code </a>
                  </div>
                  </p>

                  <p>
                    <div>
                      Mixed reality interface on a Microsoft Hololens 2, with which the user is able to remotely 
                      control a robotic arm and perform basic assembly tasks using hand and eye tracking.
                    </div>
                  </p>
                            
              </td>
              </tr>

              <!-- PERCEPTION AND LEARNING FOR ROBOTICS PROJECT -->
              <tr>
                <td width="40%" valign="top" align="center">
                <img src="assets/img/plr.gif" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
                </td>

                <td width="60%" valign="top">
                  <p><a href="plr.html" id="plr">
                  <papertitle><b>Monocular Markerless 6D Pose Estimation of ANYmal</b></papertitle></a><br>
                    Team members:
                    <b>Ivan Alberico</b>,
                    <a href="https://tenhearts.github.io/">Kexin Shi</a>
                    <br>
                    Supervised by <a href="https://mavt.ethz.ch/people/person-detail.MjY0MDU2.TGlzdC81NTksLTE3MDY5NzgwMTc=.html">Jonas Frey</a>,
                     <a href="https://mavt.ethz.ch/people/person-detail.MjE4MDk1.TGlzdC81NTksLTE3MDY5NzgwMTc=.html">Victor Klemm</a>
                     and <a href="https://ethz.ch/en/the-eth-zurich/organisation/who-is-who/mavt/details.MTIxOTEx.TGlzdC8xOTEyLDEwNjE0ODE1NjU=.html">Marco Hutter</a>
                  </p>

                  <p>              
                  <div class="project" id="plr">
                    <a href="plr.html">Webpage</a> |
                    <a href="assets/pdf/plr_poster.pdf">Poster</a> |
                    <a href="https://www.youtube.com/watch?v=4saCcrD37qA">Video</a> |
                    <a href="assets/pdf/plr_report.pdf">Report</a> 
                    <!-- <a href="https://github.com/leggedrobotics/anymal_ar">Code (Open Soon)</a> -->
                  </div>
                  </p>

                  <p>
                    <div>
                      An accurate toolbox for localization and pose estimation of <a href="https://www.anybotics.com/anymal-autonomous-legged-robot/">ANYmal</a> without 
                      external sources like depth cameras or QR codes.
                    </div>
                  </p>
                            
              </td>
              </tr>

              <!-- LEARNING TO GENERATE EVENTS USING SPIKING NEURAL NETWORKS -->
              <tr>
                <td width="40%" valign="top" align="center">
                <img src="assets/img/semesterproject.gif" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
                </td>

                <td width="60%" valign="top">
                  <p><a href="semesterproject.html" id="plr">
                  <papertitle><b>Learning to Generate Events using Spiking Neural Networks</b></papertitle></a><br>
                    Supervised by <a href="https://danielgehrig18.github.io/">Daniel Gehrig</a>,
                     and <a href="https://rpg.ifi.uzh.ch/people_scaramuzza.html">Davide Scaramuzza</a>
                  </p>

                  <p>              
                  <div class="project" id="plr">
                    <a href="semesterproject.html">Webpage</a> | 
                    <a href="assets/pdf/semesterthesis_report.pdf">Report</a> 
                    <!-- <a href="https://github.com/leggedrobotics/anymal_ar">Code (Open Soon)</a> -->
                  </div>
                  </p>

                  <p>
                    <div>
                      A learning-based solution that converts any existing video dataset recorded with 
                      conventional cameras to synthetic event data. 
                    </div>
                  </p>
                            
              </td>
              </tr>

              <!-- 3D VISION -->
              <tr>
                <td width="40%" valign="top" align="center">
                <img src="assets/img/3dvision.gif" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
                </td>

                <td width="60%" valign="top">
                  <p><a href="3dvision.html" id="3dvision">
                  <papertitle><b>End-2-End Self-Supervised SLAM </b></papertitle></a><br>
                  Team members:
                  <b>Ivan Alberico</b>,
                  <a href="https://www.linkedin.com/in/akbar96/">Mian Akbar Shah</a>,
                  <a href="https://www.linkedin.com/in/selim-kaelin-947887172/">Selim Kaelin</a>,
                  <a href="https://www.linkedin.com/in/emilk-sempertegui-9b7719100/">Emilk Sempertegui</a>
                  <br>
                  </p>

                  <p>              
                  <div class="project" id="3dvision">
                    <a href="3dvision.html">Webpage</a> |
                    <a href="assets/pdf/3DVision_report.pdf">Report</a> |
                    <a href="https://github.com/ivanalberico/End-To-End-Self-Supervised-SLAM">Code </a>
                  </div>
                  </p>

                  <p>
                    <div>
                      An online self-supervised SLAM pipeline for real-time dense reconstruction.
                    </div>
                  </p>
                            
              </td>
              </tr>

              <!-- DEEP LEARNING FOR AUTONOMOUS DRIVING PROJECT -->
              <tr>
                <td width="40%" valign="top" align="center">
                <img src="assets/img/dlad.jpg" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
                </td>

                <td width="60%" valign="top">
                  <p><a href="dlad.html" id="dlad">
                  <papertitle><b>Multi-task Learning for Autonomous Driving</b></papertitle></a><br>
                  Team members:
                  <b>Ivan Alberico</b>,
                  <a href="https://www.linkedin.com/in/nicolaloi/h">Nicola Loi</a>
                  </p>

                  <p>              
                  <div class="project" id="dlad">
                    <a href="dlad.html">Webpage</a> |
                    <a href="https://github.com/ivanalberico/Deep-Learning-for-Autonomous-Driving-ETH">Github</a>
                  </div>
                  </p>
                    
                  <p>
                    <div>
                      Multi-task Learning for semantic segmentation, depth estimation and 3D object detection for autonomous driving scenes. 
                    </div>
                  </p>
                            
              </td>
              </tr>

              <!-- PLANNING AND DECISION MAKING FOR AUTONOMOUS ROBOTS -->
              <tr>
                <td width="40%" valign="top" align="center">
                <img src="assets/img/pdmar.gif" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
                </td>

                <td width="60%" valign="top">
                  <p><a href="pdmar.html" id="pdmar">
                  <papertitle><b>Planning and Decision Making for Autonomous Robots</b></papertitle></a><br>
                  Team members:
                  <b>Ivan Alberico</b>,
                  <a href="https://www.linkedin.com/in/nicolaloi/">Nicola Loi</a>
                  </p>

                  <p>              
                  <div class="project" id="pdmar">
                    <a href="pdmar.html">Webpage</a> |
                    <a href="https://github.com/ivanalberico/Planning-and-Decision-Making-for-Autonomous-Robots-ETH">Github</a>
                  </div>
                  </p>      
                    
                  <p>
                    <div>
                      Implementation of a path planning pipeline in a dynamic environment. Global path planning, 
                      local path planning, and obstacle avoidance for navigating a spacecraft to a goal region 
                      while avoiding static and dynamic asteroids.
                    </div>
                  </p>
                            
              </td>
              </tr>

              <!-- VIRTUAL REALITY I - SKATER BLOB -->
              <tr>
                <td width="40%" valign="top" align="center">
                <img src="assets/img/skaterblob.gif" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
                </td>

                <td width="60%" valign="top">
                  <p><a href="skaterblob.html" id="skaterblob">
                  <papertitle><b>Skater Blob game on Unity</b></papertitle></a><br>
                  Team members:
                  <b>Ivan Alberico</b>,
                  <a href="https://www.linkedin.com/in/adrian-hartmann/">Adrian Hartmann</a>
                  </p>

                  <p>              
                    <div class="project" id="skaterblob">
                      <a href="skaterblob.html">Webpage</a> |
                      <a href="https://github.com/ivanalberico/Virtual-Reality1-ETH-SkaterBlobGame">Github</a>
                    </div>
                  </p>  
                    
                  <p>
                    <div>
                      Implementation of a skateboarding game using Unity3D and Blender. Every aspect, from crafting 
                      the main 3D models to animating characters and designing the game's logic and levels, was 
                      meticulously implemented from scratch.
                    </div>
                  </p>
                            
              </td>
              </tr>

              <!-- ADMITTANCE CONTROLLER -->
              <tr>
                <td width="40%" valign="top" align="center">
                <img src="assets/img/pHRI_hapticpaddle.jpg" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
                </td>

                <td width="60%" valign="top">
                  <p><a href="pHRI.html" id="phri">
                  <papertitle><b>Admittance Controller on Haptic Paddle</b></papertitle></a><br>
                  Team members:
                  <b>Ivan Alberico</b>,
                  <a href="https://www.linkedin.com/in/nicolaloi/">Giulio Schiavi</a>
                  </p>

                  <p>              
                    <div class="project" id="phri">
                      <a href="pHRI.html">Webpage</a> |
                      <a href="https://github.com/ivanalberico/Virtual-Reality1-ETH-SkaterBlobGame">Github</a>
                    </div>
                  </p>  

                  <p>
                    <div>
                      Implementation of an admittance controller with inner position/velocity loop on an 
                      haptic device, with the aid of a servo-amplifier and tachometer for motor control. 
                    </div>
                  </p>
                            
              </td>
              </tr>
              
            </tbody></table>

          </div>
