
          <div class="papers">
            <h2>Publications</h2>

            <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto; font-family: Arial, sans-serif; font-size: 8px;"><tbody>
              <!-- IROS 24 -->
              <tr>
                <td width="40%" valign="top" align="center">
                <img src="assets/img/nasajpl_xVIOtracking.gif" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
                </td>

                <td width="60%" valign="middle">
                  <p><a href="nasajpl.html" id="nasajpl">
                  <papertitle class="title-project"><b>Structure-Invariant Visual-Inertial-Odometry</b></papertitle></a><br>
                    Supervised by <a href="https://www-robotics.jpl.nasa.gov/who-we-are/people/jeff_delaune/">Jeff Delaune</a>,
                    <a href="https://giovanni-cioffi.netlify.app/">Giovanni Cioffi</a>
                      and <a href="https://rpg.ifi.uzh.ch/people_scaramuzza.html">Davide Scaramuzza</a>
                  </p>

                  <div style="font-family: Arial, sans-serif; font-size: 14px;">
                    <strong>IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS) 2024 (Oral)</strong>
                  </div>

                  <p>              
                  <div class="publication" id="IROS24_Alberico_arXiv">
                    <a href="nasajpl.html" class="multimedia-project">Webpage</a> |
                    <a href="assets/pdf/IROS24_Alberico_arXiv.pdf" class="multimedia-project">Paper</a>  |
                    <a href="https://www.youtube.com/watch?v=lp0Tu45YDIE" class="multimedia-project">Video</a>
                  </div>
                  </p>

                  <p>
                    <div style="text-align: justify;">
                      A novel range-VIO method that fuses altimeter measurements with a visual-odometry framework, and eliminates 
                      the need for any type of ground planarity assumption.
                    </div>
                  </p>
                            
              </td>
              </tr>
            </tbody></table>

          </div>
