
          <div class="personal">
            <h2>Personal</h2>

            <p>
              I love playing the piano, photography, cooking and traveling. Check out my <a href="https://www.instagram.com/ivan_alberico/">Instagram</a> profile for more pictures.
              I have practiced karate for 11 years achieving black belt. My hobbies can be summarized by the following slide:
              
            </p>

            <!-- <table><tr>
              <td><img src=assets/img/diving.png border=0 width="101%" ></td>
              <td><img src=assets/img/snowboard.jpg border=0 width="100%" ></td>
              <td><img src=assets/img/skydiving.jpg border=0 width="100%" ></td>
              </tr></table>              
            <br> -->
            <br>  
            <div align="center"><img src="assets/img/hobbies.jpg" width="100%" class="center"/></div>
            <br>
            <br>
            <p>
              <em>Provehito in Altum./em>
            </p>
          </div>
