
          <div class="personal">
            <h2>Personal</h2>

            <p>
              I love playing the piano, photography, cooking and traveling. Check out my <a href="https://www.instagram.com/ivan_alberico/">Instagram</a> profile for more pictures.
              I have practiced karate for 11 years achieving black belt. My hobbies can be summarized by the following slide:
              
            </p>

            <br>  
            <div align="center"><img src="assets/img/myself.png" width="100%" class="center"/></div>
            <br>
            <br>

            <p style="text-align: center;"><em>Provehito in Altum.</em></p>

          </div>
